<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Select the authentication type-->
    <add key="AuthenticatoinType" value="BASIC"/>
    <!--<add key="AuthenticatoinType" value="SAML20"/>-->
    
    <!--Provide the host and port value in the place holder, to point to the ErrorMessageWindow.aspx file-->
    <add key="ErrorMsgWindowUrl" value="https://host:port/Pages/Common/ErrorMessageWindow.aspx"/>
    <!--Provide the host and port value in the place holder, to point to the UserInfoPage.aspx file-->
    <add key="useInfoWindowUrl" value="https://host:port/Pages/AzurePages/UserInfoPage.aspx"/>
    
    <!--Azure Configuration-->
    <!--To distinguish system type as azure-->
    <add key="SystemType" value="Azure"/>   
    <!--Azure clientId-->
    <add key="ClientID" value="" />
    <!--Azure ClientKey-->
    <add key="ClientKey" value="" />
    <!--Azure Authority-->
    <add key="Authority" value="" />
    <!--Azure Homepage-->
    <add key="ResourceUrl" value="" />
    <!--Link where application is hosted-->
    <add key="AppHostName" value="https://host:port/"/>
    <!--Azure Service URl-->
    <add key="AzureServiceUrl" value=""/>
    <!--Request type as mentioned in backend-->
    <add key="AzureRequestType" value=""/>
    
    <!--Gateway Configuration-->
    <!-- Gateway URl-->
    <add key="GatewayServiceUrl" value=""/>
    <!--Value equals to true If gateway service is registered with multiple backend else enter false-->
    <add key="HasMultipleSapOrigin" value=""/>
     <!--SAP backend--> 
    <add key="SapOrigin" value=""/>
    <!--Gateway Client-->
    <add key="SapClient" value=""/>
    <!--Request type as mentioned in backend-->
    <add key="GatewayRequestType" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>